.App{
  text-align: center;
  background-image: url(../assets/Body/background.png);
  clear: both;
}

.App-footer{
  height: 10px;
}

@media (max-width: 1124px){
  .App-header{
    margin-bottom: -40px;
    position: relative;
    z-index: 100;
  }

  .body{
    position: absolute;
    left: 0;
  }

}

