@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.sidebar{
    background: #dcbe8e;
    width: 20%;
    height: 808px;
    margin-left: 3%;
    border-radius: 2%;
    font-family: 'Libre Baskerville', serif;
    
}

.editorial{
    font-size: 1.6rem;
    color: #653718; /* Cambiar */
}

li a{
    display: inline-block;
    
}
li{
    list-style:none 
}

ul.edi {
    padding-inline-start: 0px;
}

.logo_redes{
    width: 90px;
    height: 50px;
    margin-top: 8rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease 0s;
}
.logo_redes:hover{
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.imagen_personalizada{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-bottom: 8%;
}

p{
    text-align: left;
}

.borde_izquierdo{
    border-left: 3px solid #837C6A;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 3%;
}

.clear {
	clear: both;
}

@media (max-width: 1124px){
    .borde_izquierdo{
        padding: .5rem;
    }
    .sidebar{
        background: #ffffff;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 225px;
    }
    .editorial_movil{
        display: none;
    }
    .editorial{
        display: none;
    }
    .logo_redes{
        display: none;
    }

}
