.navbar{
    background-color: #D2A434;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    margin: 30px 30px 0px 30px;
    width: 96%;
}
#logo{
    width: 60px;
    padding-top: 8px;
    
}

.compra p{
    float: right;
    clear: both;
    padding: 0px 2rem 0px 1rem;
    font-size: 1.1rem;
    color: #653718;
}

/*
    NAVBAR
*/
li, a{
    font-size: 1.6rem;
    color: #653718; /* Cambiar */
}
.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding-left: 16px;
}

.nav-links li a:hover{
    color: white;
}

.input-navbar{
    border-radius: 90px;
    height: 20px;
    width: 60%;
    padding: 5px 20px 5px 40px;
    background-image: url(../../assets/Header/icon-buscador.png);
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-position-y: 6px;
    font-size: 1rem;

}

.burger-menu{
    display:none;
}
/* 
    VISTA PARA EL NAVBAR
    (EL NAVBAR COLAPSA A LOS 1200PX, POR ESTO EL CAMBIO)
*/
@media (max-width: 1200px){
    .nav-links li a{
        padding-left: 2px;
        font-size: 1.4rem;
    }
    .nav-links li{
        padding-left: 2px;
        font-size: 1.4rem;
    }
    .navbar{
        width: 98%;
        margin: 30px auto auto auto;
    }

}
/* 
    VISTA PARA TABLETS
*/
@media (max-width: 1024px){
    .compra p{
        display: none;
    }
    #logo{
        width: 50px;
        padding-top: 8px;
        padding-right: 16px;
    }
    .nav-links li a{
        font-size: 1.2rem;
    }
    .nav-links li{
        font-size: 1.2rem;
    }
    .input-navbar{
        width: 60%;
        padding: 5px 20px 5px 40px;
        font-size: 1rem;
    }
}
/* 
    VISTA PARA CELULARES
*/
@media (max-width: 756px){
    #busqueda{
        display: none;
    }
    .input-navbar{
        display: block;
    }

}




