@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.ContainerPrecio{
    background: white;
    width: 30%;
    height: 170px;
    border-radius: 6px;
    margin: 0 auto;
    font-family: 'Libre Baskerville', serif;
    transition: all 0.3s ease 0s;
}
#ContainerPrecio-total{
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
}
#ContainerPrecio-cantidad, #ContainerPrecio-precio{
    text-align: center;
}

.pagar{

    width: 250px;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    background-color: #DB9E05;
    border-radius: 40px;
}

@media (max-width: 1124px){
    .ContainerPrecio{
        width: 70%;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 650px){
    .ContainerPrecio{
        width: 80%;
        transition: all 0.3s ease 0s;
    }
}