@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.informacion_contacto{
    background-image: url("../../assets/Footer/background.png");
    opacity: 1;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    font-family: 'Libre Baskerville', serif;
}


.float-clear{
    clear: both;
}

.informacion_contacto img{
    float: left;
    width: 25px;
    padding-right: 1.2rem;
}

.box{
    padding: 0.8rem 0rem 0rem 6rem;
    transition: all 0.3s ease 0s;
}

@media (max-width: 1124px){
    .box{
        padding: 0.8rem 0.5rem 0rem 2rem;
        transition: all 0.3s ease 0s;
    }
}
