@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.ContainerLibro{
    display: inline-block;
    padding: 1rem;
}

.ContainerPrecio{
    display: block;
}
.estanteria-vacia{
    width: 60%;
    margin: 0 auto;
    color:#653718;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #D2A434;
    height: 120px;
    border-radius: 6px;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.estanteria-vacia p{
    padding-top: 3rem;
    text-align: center;
}

@media (max-width: 1124px){
    .estanteria-vacia{
        width: 70%;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 650px){
    .estanteria-vacia{
        width: 80%;
        transition: all 0.3s ease 0s;
        font-size: 1.2rem;
    }
    .estanteria-vacia p{
        padding-top: 2rem;
    }
}

