@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.book{
    width: 33%;
    margin: 0 auto;
    padding-top: 1rem;
    float: left;
}
.book img{
    border: 2px solid black;
    padding: 0rem 1rem 0rem 1rem;
}
.book p{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
.book-top p{
    padding: 2px;
    margin: 0;
}
.book-price p{
    padding: 1rem;
    margin: 0;
}
#autor{
    font-size: .9rem;
}
.semi-bold{
    font-size: 1.4rem;
    font-weight: 400;
}