@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.book{
    width: 25%;
    margin: 0 auto;
    padding-top: 1rem;
    float: left;
    transition: all 0.3s ease 0s;
}
.book img{
    border: 2px solid black;
    padding: 0rem 1rem 0rem 1rem;
    width: 170px;
    cursor: pointer;
}
.book p{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
.book-top p{
    padding: 2px;
    margin: 0;
}
.book-price p{
    padding: .9rem;
    margin: 0;
}
#autor{
    font-size: .9rem;
}
.semi-bold{
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 1024px){
    .book{
        width: 50%;
    }
}

@media (max-width: 624px){
    .book p{
        color: white;
    }
    .book img{
        border: transparent;
    }
}
